html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #2632a3;
}


#Line {
  height: 4px;
  background: #2632a3;
  margin: 20px auto;
  width: 95%;  
}

.MuiPaper-root.Paper { 
  height: 75vh;
  width: 300px;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 80px auto;
}

.MuiGrid-root.Grid {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding-top: 6px;
}

.MuiAvatar-root.Avatar {
  background-color: #3f51b5;
  width: 56px;
  height: 56px;
}


