.MuiButtonBase-root.checkbox  {
    color:aliceblue;
}

.MuiSvgIcon-root.edit {
    color:aliceblue;
    padding: 1px;
}

.MuiSvgIcon-root.delete{
    color:aliceblue;
}

.MuiList-root.list {
    width: 99%;
    max-width: 360px;
}

.MuiListItem-root.items  {
    background-color: #3949ab;
    border-radius: 15px;
    margin: 4px;
}

.label {
    color: aliceblue;
}